background-color: purple;

body {
  padding: 15px;
  font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif
background-color: red;
border: 5px;

}

h1 {
font-family: "Old Standard TT", Arial, Tahoma, sans-serif;
text-align= center;
margin-left: 220px;
font-weight: bold;
justify-content: center;
font-size: 35px;
margin-top:0 px;
height: 40px;
 }

}

h1 {
align="center";
    font-family: "Old Standard TT", Arial, Tahoma, sans-serif;
}

h2 {
	font-size: 30px;
	margin:0 0 .5em 0;
	 font-family: "Old Standard TT", Arial, Tahoma, sans-serif;
	font-weight: normal;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#userList {
	margin:0 0 30px 0;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
			font-family:"Old Standard TT", Arial, Tahoma, sans-serif;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
		font-family: "Old Standard TT", Arial, Tahoma, sans-serif;
		font-weight: normal;
	}

#addUser fieldset {

}

	#btnAddUser {
	background-color: lightblue; /* Green */
   	border: none;
   	color: white;
   	padding: 10px 22px;
    	text-align: center;
    	text-decoration: none;
   	display: inline-block;
   	font-size: 16px;


	}
fieldset {
	border:0;
	padding:0; margin:0;
}
input {
font-size: 20px;
}
